body {
    background-color: #03191E;
    color: #CFDEE7;
    margin: 0px;

    background-image: url("../img/bg01.jpg"), linear-gradient(rgba(3, 25, 30, 0.5), rgba(3, 25, 30, 0.5));
    background-blend-mode: overlay;

    font-family: 'Courier New', monospace;
}

ul,
li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #CFDEE7;

}

img {
    box-shadow: 0px 8px 16px black;
}

.head-logo {
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
}

.intro-right {
    background-color: #0F1A20;
}

.info {
    background-color: #CFDEE7;
    color: #03191E;
    margin: 0px;
}

.info-title {
    font-size: 32px;
}

.btn {
    background-color: #457B9D;
    color: #CFDEE7;
    border: none;
    border-radius: 16px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    transition-duration: 0.5s;
    cursor: pointer;
}

.btn:hover {
    background-color: #6BA45B;
}

.card-image {
    background-color: #0F1A20;
    color: #CFDEE7;
    border-radius: 12px;
}

.quote {
    background-color: #94A2AC;
    color: #03191E;
}

.quote-text {
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
}

.reminder {
    background-color: #CFDEE7;
    color: #03191E;
}

.reminder-content {
    background-color: #457B9D;
    color: #CFDEE7;
    text-shadow: 2px 2px 8px black;
}

.reminder-content .btn {
    border-style: solid;
    border-color: #CFDEE7;
}

/* Display */

body {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.top-content {
    width: 1200px;
}

.nav {
    display: flex;
    padding: 12px;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
}

.head-right-links {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
}

.intro {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 32px;
    margin: 32px 0px;
}

.intro-left {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 500px;
}

.intro-left .btn {
    width: 128px;
}

.intro-right {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 535px;
    height: 315px;
}

.intro-image {
    width: 535px;
    height: 315px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 32px;
    flex: 0 1 auto;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.card p {
    width: 225px;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 225px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.quote-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 600px;
    flex: 1 1 auto;
}

.quote-text p {
    margin-bottom: 0px;
}

.quote-author {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 600px;
    flex: 1 1 auto;

}

.reminder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.reminder-content {
    display: flex;
    flex: 0 1 auto;
    width: 800px;
    padding: 16px;
    border-radius: 12px;
    justify-content: space-around;
    align-items: center;
}

.reminder-text {
    flex: 0 2 auto;
    margin-left: 0px;
}

.reminder-content .btn {
    width: 128px;
    height: 64px;
    flex: 0 2 auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}