body {
    background-color: #0F1A20;
    color: #CFDEE7;
    margin: 0px;
}

ul,
li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #CFDEE7;

}

.info {
    background-color: #CFDEE7;
    color: #0F1A20;
    margin: 0px;
}

.btn {
    background-color: #457B9D;
    color: #CFDEE7;
    border: none;
    border-radius: 16px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
}

.intro-right {
    background-color: #03191E;
}

/* Display */

body {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    width: 1200px;
    align-self: center;
    align-items: center;
}

.head-logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.head-right-links {
    display: flex;
    margin-left: auto;
    gap: 12px;
}

.intro {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin: 32px 0px;
    width: 1200px;
}

.intro-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 500px;
}

.intro-left .btn {
    width: 128px;
}

.intro-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: 535px;
    height: 315px;
}