body {
    background-color: #0F1A20;
    color: #CFDEE7;
}

ul,
li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #CFDEE7;

}

/* Display */

body {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    width: 1200px;
    align-self: center;
    align-items: center;
}

.head-logo {
    font-size: 24px;
    margin-right: auto;
}

.head-right-links {
    display: flex;
    margin-left: auto;
    gap: 12px;
}